body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-creation,
.task-edit,
.task-list {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Añadido */
}

.task-creation {
    grid-column: 1;
}

.task-edit {
    grid-column: 2;
}

.task-list {
    grid-column: 1 / span 2;
    grid-row: 2;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea,
form select,
form button {
    margin: 10px 0;
    padding: 10px;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.red {
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}

#taskList {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Añadido */
}

.task p {
    margin: 0;
}

.task textarea {
    resize: none;
    height: 100px;
}

.task button {
    margin: 5px 0;
    padding: 10px;
}