body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f0f0f0; /* Color de fondo gris claro */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #004080; /* Color azul oscuro */
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre los enlaces */
}

nav ul li a {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #004080; /* Color azul oscuro */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}
.ejercicios {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ejercicios h2 {
    color: #333;
}
.ejercicios ol {
    list-style-type: decimal;
    padding: 0 20px;
}
.ejercicios ol li {
    background-color: #e9ecef;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}