# Ignorar archivos de configuración del entorno de desarrollo
.env

# Ignorar directorios y archivos generados por Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ignorar archivos de configuración del editor
.vscode/
.idea/
.DS_Store

# Ignorar archivos de compilación
dist/
build/

# Ignorar archivos de configuración de sistema
*.log
*.tmp