
header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#services th{
background-color: burlywood;

}

#sm{
margin-right: 40px;
}

fieldset{
    background-color:silver;
}

legend{
    color:darkgoldenrod;
}

footer > table {
    margin: 30px auto;
}

footer h3{
    text-align: right;
    margin-right: 25px;
}

#12{
background-color: darkgray;
}

textarea{
    width: 500px;
    height: 100px;
}
form input[type="text"]{
border-radius: 6px;
background-color: lightgray;
width: 15%;
} 


form input[type="number"]{
border-radius: 6px;
background-color: lightgray;
width: 15%;
} 


form input[type="email"]{
border-radius: 6px;
background-color: lightgray;
width: 15%;
} 

input::placeholder{
    color:darkslategray;
    font-size: small;
}

input label{
    color:darkslategray;
    font-size: small;   
}

footer{
    background-color: black;
    border-radius: 8px
}

footer > h3{
    background-color: ;
    color: red;
}


